.backgroundBar {
  fill: white;
  stroke: white;
}

.backgroundBar.base {
  fill: var(--base-pattern-color);
  stroke: var(--base-pattern-color);
}
.backgroundBar.similar {
  fill: var(--similar-pattern-color);
  stroke: var(--similar-pattern-color);
}

.backgroundBar:hover {
  fill: hsl(0, 0%, 95%);
}
.backgroundBar.base:hover {
  fill: hsl(0, 0%, 83%);
}
.backgroundBar.similar:hover {
  fill: hsl(0, 0%, 90%);
}
