.bar {
  --default-candlestick-color: hsl(0, 0%, 90%);
  pointer-events: none;
}

.highLowLine {
  stroke: var(--default-candlestick-color);
}
.bar.upBar .highLowLine,
.bar.downBar .highLowLine {
  stroke: black;
}

.openCloseRect {
  fill: var(--default-candlestick-color);
}
.bar.upBar .openCloseRect {
  fill: green;
}
.bar.downBar .openCloseRect {
  fill: darkred;
}
