

.bar__background-rect {
  fill: white;
}
.bar:hover .bar__background-rect {
  fill: #eee;
}

.bar__high-low-line {
  stroke: black;
}

.bar__open-close-rect--up-bar {
  fill: green;
}
.bar__open-close-rect--down-bar {
  fill: darkred;
}

.bar--current .bar__right-line {
  stroke: red;
}
.bar--base .bar__background-rect {
  fill: hsl(0, 0%, 94%);
  stroke: hsl(0, 0%, 94%);
}
.bar--similar .bar__background-rect {
  fill: hsl(205, 100%, 94%);
  stroke: hsl(205, 100%, 94%);
}