.bar {
  --default-candlestick-color: hsl(0, 0%, 90%);
}

.bar__background-rect {
  fill: white;
}

.bar--base .bar__background-rect {
  fill: var(--base-pattern-color);
  stroke: var(--base-pattern-color);
}
.bar--similar .bar__background-rect {
  fill: var(--similar-pattern-color);
  stroke: var(--similar-pattern-color);
}

.bar:hover .bar__background-rect {
  fill: hsl(0, 0%, 95%);
}
.bar--base:hover .bar__background-rect {
  fill: hsl(0, 0%, 85%);
}
.bar--similar:hover .bar__background-rect {
  fill: hsl(0, 0%, 90%);
}

.bar__high-low-line {
  stroke: var(--default-candlestick-color);
}
.bar__high-low-line--completed {
  stroke: black;
}

.bar__open-close-rect {
  fill: var(--default-candlestick-color);
}
.bar__open-close-rect--up-bar {
  fill: green;
}
.bar__open-close-rect--down-bar {
  fill: darkred;
}

.bar--current .bar__right-line {
  stroke: var(--current-line-color);
}
.bar--current:not(.bar--selected) .bar__right-line {
  stroke-opacity: 0.5;
}
.bar--selected:not(.bar--current) .bar__right-line {
  stroke: var(--trade-color);
  stroke-dasharray: 4;
}
