.bar {
  --default-candlestick-color: hsl(0, 0%, 93%);
  pointer-events: none;
}

.highLowLine {
  stroke: var(--default-candlestick-color);
}
.bar.up .highLowLine,
.bar.down .highLowLine {
  stroke: black;
}

.openCloseRect {
  fill: var(--default-candlestick-color);
}
.bar.up .openCloseRect {
  fill: green;
}
.bar.down .openCloseRect {
  fill: darkred;
}
