.legend {
  grid-area: legend;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry__symbol--pattern,
.entry__symbol--current-line {
  height: 20px;
}

.entry__symbol--pattern {
  width: 10px;
}

.entry__symbol--base-pattern {
  background: var(--base-pattern-color);
}
.entry__symbol--similar-pattern {
  background: var(--similar-pattern-color);
}

.entry__symbol--current-line {
  width: 1px;
  background: var(--current-line-color);
}

.entry__text {
  margin-left: 10px;
  font-size: 0.65em;
}
