.legend {
  grid-area: legend;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.65rem;
  padding-bottom: 0.5em;
}

.entry {
  display: flex;
  align-items: center;
}

.entry .symbol.pattern,
.entry .symbol.currentLine {
  height: 2em;
}

.entry .symbol.pattern {
  width: 1em;
}

.entry .symbol.pattern.base {
  background: var(--base-pattern-color);
}
.entry .symbol.pattern.similar {
  background: var(--similar-pattern-color);
}

.entry .symbol.currentLine {
  width: 1px;
  background: var(--current-line-color);
}

.entry .text {
  margin-left: 1em;
}
