.simulation {
  width: var(--main-content-width);
  background: hsl(0, 46%, 74%);
  grid-area: simulation;
}

.simulation__chart-container {
  display: flex;
}
.simulation__button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
