:root {
  font-size: 1.5vw;
  --main-content-width: 50em;
  --current-line-color: red;
  --trade-color: hsl(211, 100%, 40%);
  --trade-color-dimmed: hsl(0, 0%, 70%);
  --base-pattern-color: hsl(211, 100%, 90%);
  --similar-pattern-color: hsl(211, 100%, 96%);
}

@media (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 1067px) {
  :root {
    font-size: 16px;
  }
}
